body {
    max-width: 1440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
    box-sizing: border-box;
}

.header {
    max-height: 51px;
    display: grid;
    grid-template-columns: 7% 93%;
    grid-auto-flow: column;
    align-items: center;
    gap: 619px;
    background-color: #F08726;
}

.header-logo {
    margin: 8px 0px 12px 63px;
    width: 36px;
    height: 31px;
}

.header-nav li {
    display: inline-block;
}


.header-nav_link {
    text-decoration: none;
    margin: 8px 0px 8px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
    align-items: center;
    padding-right: 46px;
}

.header-nav_link :last-child {
    padding-right: 63px;
}

.mainscreen {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    max-height: 293px;
}

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5fr 3fr ;
    background-color: #F08726;
}

.headline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 106px;
    color: #000000;
    max-width: 700px;
    margin: 33px 0px 30px 63px;
}

.headline__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.8);
    max-width: 600px;
    padding: 0px 0px 100px 63px;
}

.left-poster-block {
    display: grid;
    grid-template-columns: 41% 59%;
    gap: 112px;
}



.left-poster-block_orange {
    background-color: #F08726;
    width: 254px;
    height: 630px;
    margin: 150px 0px 0px 145px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-poster-block_orange p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    max-width: 56px;
    padding: 27px 0px 27px 69px;
}

.left-poster-block_rate{
    padding: 20px 0px;
    max-width: 60px;
}


.left-poster-block__image {
    margin: 0px 112px 0px 30px;    
}

.left-poster-text {
    max-width: 418px;
    margin: 327px 317px 0px 0px;
}

.ordinal-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 70%;
    color: #FF9635;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #000000;
    padding-bottom: 40px;
}

.prodaction-black {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 40px;
}

.text_black {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom:70px ;
}

.button {
    display: grid;
    grid-template-columns: 80% 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #ffffff;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    border: ;

}

.button:hover {
    border-top:1px solid #F08726;
    border-bottom:1px solid #F08726;
    
}